.badge {
	top: -5px;
	right: -5px;
	position: absolute;
	width: 65px;
	padding: 12px 0;
	background-color: var(--yellow);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	font-weight: 400;
	font-size: 18px;
	color: var(--black);
	z-index: 1;
}
