:root {
	--blue: #091d9e;
	--violet: #750dc5;
	--light-blue: #bcc5ff;
	--white: #f6f6f6;
	--gray: #c1c1c1;
	--light-gray: #dedede;
	--dark-gray: #454545;
	--black: #0c0c0c;
	--yellow: #ebba1a;
	--semi-light-gray: #ababab;
	--green: #169b00;
}
