.catalog {
	margin-top: 48px;

	&Header {
		display: flex;
		flex-direction: column;
		gap: 32px;

		&Category {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	&Content {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		gap: 99px;
	}

	&Filters {
		max-width: 289px;
		box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 16px;
		border-radius: 8px;
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: fit-content;
	}
}

.products {
	flex: 1;
	position: relative;

	&Inner {
		border-top: 1px solid var(--light-blue);
		border-bottom: 1px solid var(--light-blue);
		display: flex;
		flex-direction: column;

		.empty {
			font-size: 36px;
			text-align: center;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
	gap: 30px;

	&Prev,
	&Next {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		font-size: 18px;
		background: none;
	}

	&Btn {
		width: 41px;
		height: 41px;
		border: 1px solid var(--black);
	}

	.active {
		background: var(--blue);
		color: var(--light-blue);
		border: 1px solid var(--light-blue);
	}
}

@media (max-width: 767.98px) {
	.catalogContent {
		flex-direction: column;

		.catalogFilters {
			// max-width: none;
			display: none;
		}
	}
}
