.catalog {
	margin-top: 48px;

	&Header {
		display: flex;
		flex-direction: column;
		gap: 32px;

		&Category {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	&Content {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		gap: 99px;
	}

	&Filters {
		max-width: 289px;
		box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 16px;
		border-radius: 8px;
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: fit-content;
	}
}

@media (max-width: 767.98px) {
	.catalogContent {
		flex-direction: column;

		.catalogFilters {
			max-width: none;
		}
	}
}

.products {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 64px;
	border-top: 1px solid var(--light-blue);
	border-bottom: 1px solid var(--light-blue);
	padding: 24px;
}
