.cartItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--light-blue);
	padding: 24px 0;

	.title {
		max-width: 151px;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: var(--black);
	}

	.counter {
		display: flex;
		align-items: center;
		gap: 20px;
		border: 1px solid var(--violet);
		border-radius: 4px;
		padding: 10px 12px;

		.quantity {
			font-weight: 400;
			font-size: 16px;
			color: var(--black);
		}

		button.decrementBtn,
		button.incrementBtn {
			background: none;
			font-size: 24px;
			color: var(--violet);
		}
		button.decrementBtn {
		}
		button.notAvailable {
			cursor: not-allowed;
			color: var(--gray);
		}
		button.incrementBtn {
		}
	}

	.price {
		color: var(--black);
		font-weight: 700;
		font-size: 20px;
	}

	.removeBtn {
		cursor: pointer;
	}
}

@media (max-width: 625.98px) {
	.cartItem {
		gap: 20px;
		flex-wrap: wrap;

		.image {
			max-width: 77px;
			height: auto;
		}
	}
}
